html , body {
    margin: 0;
    padding: 0; 
    display: block;
}
nav {
    background-color: #1d4043;
    text-align: center;
    display:flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right:0;
    padding-left:0;
    width: 70px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
} 

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
}
   


nav a::after {
    content: "";
    height: 4px;
    margin-top: 2px;
    margin-bottom: -8px;
    width: 100%;
    background-color: #ffb703;
    display: block;
    left: 0%;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
body {
    background-color: #449399;
    font-family: 'Geologica', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Lobster', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
main {
    width: 800px;
    background-color: white;
    justify-content: center;
    padding-left: 40px;
    padding-right: 20px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
}
h2 {
    padding-top: 50px;
    text-align:center;
    color: #1d4043;
    margin-top: 0px;
}
.soft {
    color: #1d4043;
    width: 120px;
    border-bottom: 8px solid #ffb703;
    margin-top: -20px;
}
.web {
    color: #1d4043;
    width: 200px;
    border-bottom: 8px solid #ffb703;
    margin-top: 0px;
    margin-top: 20px;
}
.name {
    margin-top: 10px;
}
img {
    width: 50px;
    margin-left: 730px;
    margin-top: 0px;
}
.row {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    border-bottom: 1px solid #1d4043;
}
.row img {
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.pic {
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
}
.fe {
    visibility: hidden;
    margin-top: 5px;
}
.pic:hover .fe {
    visibility: visible;
    color: #1d4043;
}
.row2 {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    border-bottom: 1px solid #1d4043;
}
.row2 img {
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.pic2 {
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
}
.fe2 {
    visibility: hidden;
    margin-top: 5px;
}
.pic2:hover .fe2 {
    visibility: visible;
    color: #1d4043;
}
.row3 {
    display: flex;
    flex-direction: row;
}
.exp {
    color: #1d4043;
    width: 150px;
    border-bottom: 8px solid #ffb703;
    margin-top: 0px;
    margin-top: 20px;
}
.year {
    margin-left: 40px;
}
.name3 {
    margin-left: 150px;
}
.group {
    margin-left: 40px;
}
.row4 {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    border-bottom: 1px solid #1d4043;
    padding-bottom: 30px;
}
.personal {
    color: #1d4043;
    width: 200px;
    border-bottom: 8px solid #ffb703;
    margin-top: 20px;
}
.row5 {
    display: flex;
    flex-direction: row;
}
.row6 {
    display: flex;
    flex-direction: row;
}
.row7 {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    border-bottom: 1px solid #1d4043;
   padding-bottom: 30px;
} 
footer {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: 13px;
    color: #1d4043;
    }